.container {
	padding-left: 20px;
	padding-top: 10px;
}

.category {
	padding-left: 40px;
}

.code {
	width: 90vw;
	height: 60vh;
	font-size: larger;
}

.taskContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
