.task {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.code {
	width: 80vw;
	height: 70vh;
	font-size: 14px;
}

.pause {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
}

.pause * {
	margin: 10px;
}

.end {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
}

.settings {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 20px;
}

.settings * {
	margin: 10px;
}
