@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

html,
body {
	padding: 0px;
	margin: 0px;
	font-family: "Varela Round", -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
	font-size: large;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
