.footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	text-align: center;
	color: white;
	padding-bottom: 10px;
	font-size: 10px;
}

.LinkContainer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	font-size: 40px;
	font-weight: 1000;
}

.Link {
	display: flex;
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	background-color: aliceblue;
	background-image: linear-gradient(grey, white);
}
